* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Comfortaa", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #fff;
}

.logo {
    font-family: "Coiny", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 38px;
}

header {
    background-image: url("bg.jpg");
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo,
.nav-area a,
.btn-area {
    color: inherit;
    text-decoration: none;
}

.nav-area {
    list-style: none;
}

.nav-area li {
    display: inline-block;
    padding: 0 15px;
    text-transform: uppercase;
}

.nav-area li a {
    transition: color 0.3s ease;
}

.nav-area li a:hover {
    color: #f07524;
}

.btn-area {
    color: #fff;
    background-color: #f07524;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.btn-area:hover {
    background-color: #e55a0f;
}



